{% extends 'base.html.twig' %}
{% block page_content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="container at-header">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <img src="{{ asset('build/images/logo.svg') }}" alt="logo"/>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col">
                                            <nav>
                                                <div class="container-fluid">
                                                    <div class="row row-cols-3 lh-45 main-menu">
                                                        <div class="col">
                                                            <a
                                                                    href="{{ path('app_index_home') }}"
                                                                    class="{% if active=='home' %}active{% endif %}"
                                                            >
                                                                Home
                                                            </a>
                                                        </div>
                                                        <div class="col">
                                                            <a
                                                                    href="{{ path('app_index_discover') }}"
                                                                    class="{% if active=='discover' %}active{% endif %}"
                                                            >
                                                                Discover
                                                            </a>
                                                        </div>
                                                        <div class="col">
                                                            <a
                                                                    href="{{ path('app_index_about') }}"
                                                                    class="{% if active=='about' %}active{% endif %}"
                                                            >
                                                                About
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row h-100">
                            <div class="col">
                                {% block otf_content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <nav>
                    </nav>
                </div>
                <div class="col-12 col-md-5 main-image">
                    {% if active=='home' %}
                        <img src="{{ asset('build/images/two_sided_right_cassette.avif') }}"
                             class="img-fluid float-end"
                             alt="two_sided_right_cassette.avif"
                        />
                    {% endif %}
                    {% if active=='about' %}
                        <img src="{{ asset('build/images/two_sided_right_woodstock.avif') }}"
                             class="img-fluid float-end"
                             alt="two_sided_right_woodstock.avif"
                        />
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
{% endblock %}
